<div class="navbar bg-base-100 shadow-sm">
    <div class="name flex-1">
        <span class="nano">Nano</span>
        <span class="tube bg-error textre">Tube</span>
    </div>
    <div class="flex-4/5">
        <label class="input" for="search">
            <svg class="h-[1.5em] opacity-50" viewBox="0 0 24 24">
                <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
                    <circle cx="11" cy="11" r="8"></circle>
                    <path d="m21 21-4.3-4.3"></path>
                </g>
            </svg>
            <input type="search" required placeholder="Buscar" id="search"/>
        </label>
        <button class="btn btn-soft btn-error ml-2">Buscar</button>
    </div>
</div>